# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.venv/
venv/
*.db

# IDEs
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Android / Gradle
.gradle/
build/
/*/build/
local.properties
.cxx/
.externalNativeBuild/
captures/
*.keystore
!debug.keystore

# Dokumentacija / Ostalo
ppt predstavitev/
*.pptx
.DS_Store
